@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.pagination li {
   background-color: #e1eeeb;
   padding: 4px 10px;
   border-radius: 8px;
}

.pagination .selected {
   background-color: #0a4d3d;
   color: #fff;
}
